html, body {
    height: 100%;
}
body {
    margin:0; 
    padding:0;
    background: white url(../img/grey_dot_40.svg) repeat fixed;
    touch-action: none;
    overflow: hidden;
}
canvas {
    border: 0;
    display: block;
    position: absolute;
}
canvas[data-paper-resize]{
    width: 100%;
    height: 100%;
}
#toolbar {
    position: absolute;
    z-index: 10;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);    
}
#documentBar{
    position: absolute;
    z-index: 10;
    bottom: 0px;
}
#toolbar label, #toolbar button {
    margin: 0;
    padding: 0;
    min-width: 2em;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    min-width: 1em;
    width: 1em;
    height: 100px;
}
#toolbar .sp-replacer {border:0;}
#toolbar .sp-preview {margin:0;border:0;}
/* object{pointer-events: none;} */
#documentBar .tight .dropdown-menu {
    padding: 0;
    border: 0;
    margin-left: 1px;
    min-width: 0;
}
#documentBar .tight .dropdown-menu button {
    border-radius: 0;
}
#lockButton:checked + label > svg:first-of-type {display:none;}
#lockButton + label > svg:last-of-type {display:none;}
#lockButton:checked + label > svg:last-of-type {display:inline-block;}