body {
    margin:0; 
    padding:0;
    background: white url(../img/grey_dot_40.svg) repeat fixed;
    touch-action: none;
}
canvas {
    border: 0;
    display: block;
    margin: auto;
}
.sp-replacer {
background-color: aliceblue;
}